
.header{
    display: flex;
    padding-top: 30px;
    height: 400px;
    width: 100%;
    background-color: rgb(79, 79, 79);
}

.header-wrapper{
    display: flex;
    margin-left: 5%;
    width: 90%;
    height: 90%;
    background: url(images/backgr.jpg);
    
}
.IntroducingMe{
    margin-left: 30px;
    margin-right: 20%;
    margin-bottom: 10px;
    font-family: 'Teko', sans-serif;
    font-size: 50px;
}
.Hello{
    margin-left: 30px;
    margin-right: 20%; 
    margin-top: 10px;
    font-family: 'Teko', sans-serif;
    font-size: 30px;
}

.photo1{   
    float: right;
    height: 100%;
}
.coding-log{
    display: block;
    margin-top: 10px;
    padding-top: 1px;
    height: 70px;
    width: 100%;
    background-color: rgb(79, 79, 79);
}

.coding-log-wrapper{
    display: block;
    margin-left: 5%;
    margin-top: 5px;
    width: 90%;
    height: 50;
    background: url(images/backgr.jpg);
}