@media (min-width: 10px){
    .year2021{
    display: block;
    width: 100%;
    }
    .photo{
    width: 100%;
    }
    .video{
    width: 100%;
    }
}
@media (min-width: 320px){
    .year2021{
     display: block;
     width: 100%;
    }
    .photo{
     width: 100%;
    }
    .video{ 
     width: 100%;
    }
@media (min-width: 500px){
    .year2021{
        display: flex;
        width: 100%;
       }
       .photo{
        width: 50%;
       }
       .video{ 
        width: 50%;
       }    
}
@media (min-width: 1440px){
    .year2021{
        display: flex;
        width: 100%;
       }
       .photo{
        width: 50%;
       }
       .video{ 
        width: 50%;
       }
}